body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
}

/* Header */
.header {
    width: 100%;
    background-color: #111;
    text-align: center;
    padding: 3% 0;
    margin-bottom: 30px;
    box-shadow: inset 0px -9px 60px 0px rgba(0,0,0,0.75);
    height: 110px;

    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 60px)
    );

    border-bottom: 30px solid green;
}

.header-title,
.header-sub {
    margin: 0;
    font-weight: lighter;
}

.header-title {
    font-size: 72px;
    color: white;
}

.header-sub {
    font-size: 18px;
    color: #eeeeee;
}

/* Main body */
.main-body {
    width: 80%;
    margin-left: 10%;
    min-height: calc(100vh - 350px);
}

@media only screen and (min-width: 600px) {
    .main-body {
        width: 50%;
        margin-left: 25%;
    }
}

/* Elements */
.text-block {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 1px;
    border: 4px double rgba(0, 0, 0, 0.05);
}

/* Accordion, taken from
 * https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 1px;
    border: 4px double rgba(0, 0, 0, 0.05);
}

.active, 
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    float: left;
    margin-right: 5px;
    color: transparent;  
    text-shadow: 0 0 0 #777;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Footer */
.footer {
    width: 100%;
    background-color: #111;
    text-align: center;
    padding: 50px 0 0 0;
    color: white;
    margin-top: 50px;
    box-shadow: inset 0px 9px 60px 0px rgba(0,0,0,0.75);
    height: 70px;

     clip-path: polygon(
        0 0,
        100% 60px,
        100% 100%,
        0 100%
    );
}

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr {
    background-color: white;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: lighter;
    background-color: #222;
    color: white;
}

/* Back button */
.return-button {
    border-radius: 30px;
    padding: 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    width: 200px;

    position: relative;
    top: 80px;
    left: calc(50% - 50px);
    z-index: 999;
    transition: background-color 0.2s;
}

.return-button:hover {
    background-color: #444;
    transition: background-color 0.2s;
}

hr {
    height: 0;
    border: none;
    border-bottom: 1px solid grey;
}

.category-box {
    margin: 20px; 
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

img {
	width: 70%;
	margin-left: 15%;
}